@import "./rule.css";
/* .header{
  font-size: 20px;
  margin-left: 400px;
  color: #000957;
} */

*{
  padding: 0;
  margin: 0;
}

/* #Program{
  font-size: 20px;
  margin-left: 400px;
  color: #000957;
}

#Event{
  font-size: 20px;
  margin-left: 70px;
  color: #000957;
}

#Berita{
  font-size: 20px;
  margin-left: 70px;
  color: #000957;
}

#Sheet{
  font-size: 20px;
  margin-left: 70px;
  color: #000957;
}

#Chord{
  font-size: 20px;
  margin-left: 70px;
  color: #000957;
}

#user{
  margin-top: 10px;
  margin-left: 200px;
  width: 40px;
}

#Login{
  font-size: 20px;
  margin-left: 30px;
  color: #000957;
} */

#img{
  /* margin-top: 30px;  */
  width: 100%;

}

h1{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: var(--judul);
}
#section-desc{
  height: 60vh;
}
.section1{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin-top: 40px;
}

.aset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  width: 250px;
  height: 150px;
  text-align: center;
}
#img1{
  align-self: center;
  width: 100px;
  height: 100px;
}
#text{
  font-size: 20px;
}
